* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* sidebar css starts from here */
.sidebar {
    width: 320px;
    background-color: #ECECEC80;
    height: calc(100vh - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;
}

.top-link {
    display: flex;
    flex-direction: column;
}

.top-link a {
    text-decoration: none;
    color: black;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    margin-left: 12px;
}
.top-link a:hover {
    color: black;
}
.link{
    padding: 8px 12px 8px 12px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.link:hover{
    background-color: white;
}

.bottom-link {
    margin-top: auto;
}

.bottom-link a {
    text-decoration: none;
    color: black;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    margin-left: 12px;
}
.bottom-link a:hover {
    color: black;
}
.logo{
    width: 300px;
}



/* sidebar css end */





.main-container {
    padding: 20px;
    display: flex;
    height: 100vh;
}

.main-content-box {
    padding: 20px 20px 0px 20px;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 40px);
}

.main-content-box1 {
    width: 100%;
}

.main-content-box-history{
    padding: 20px 0px 20px 20px;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 40px);
}

.main-content-box-alarm_scheduler{
    padding: 20px 0px 20px 20px;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 40px);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Abhaya Libre", serif;
}

.notification-number {
    font-weight: 400;
    font-size: 18px;
    margin-right: 4px;
    font-family: "Abhaya Libre", serif;
}

.alert-text {
    font-size: 18px;
    font-weight: 700;
    font-family: "Abhaya Libre", serif;
}
.alarm-top{
    width: 30px;
}
.real-time-data-text {
    font-weight: 400;
    margin-top: 4px;
    font-family: "Abhaya Libre", serif;
    font-size: 22px;
}

.camera-text {
    margin-top: 20px;
 
    font-weight: 400;
    font-family: "Abhaya Libre", serif;
    font-size: 22px;
}

.picture {
    width: calc(50% - 6.5px);
    border-radius: 20px;
}
.picture img{
    width: 100%;
}

.main-gallery-box {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.widgets-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.widget {
    width: 200px;
    background-color: #ECECEC80;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #DBE5E0;
}

.widget-icon{
    width: 25px;
}

.text-1 {
    margin: 0;
    padding-top: 15px;
    font-weight: 700;
    font-family: "Abhaya Libre", serif;
}

.text-2 {
    margin: 0;
    padding-top: 5px;
    color: #5988FF;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
}
.link-icon{
    width: 24px;
}


/* control panel css */

.control-panel-heading{
    font-size: 14px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    margin-top: 15px;
}
.control-panel-para{
    font-size: 14px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #5988FF;
    margin-top: 10px;
}
.sub-heading{
    font-size: 18px;
    font-weight: 400;
    font-family: "Abhaya Libre", serif;
    margin-top: 25px;
}
.bar-icon{
    width: 20px;
}
.first-box{
    margin-top: 20px;
}
.text-top{
    font-size: 14px;
    font-weight: 400;
    font-family: "Abhaya Libre", serif;
    margin-left: 2px;
}
.text-bottom{
    font-size: 14px;
    font-weight: 400;
    font-family: "Abhaya Libre", serif;
    margin: 0;
    margin-left: 27px;
    margin-top: 5px;
    color: #5988FF;
}
.slider-container {
    position: relative;
    width: 100%;
}
.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #5988FF;
    outline: none;
    transition: opacity 0.2s;
    border-radius: 5px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
.inputbox{
    position: relative;
    width: 100%;
}
#sliderValue {
    position: absolute;
    top: 29px;
    left: 2%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 400;
    font-family: "Abhaya Libre", serif;
}
.value-input{
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    font-size: 14px;
    width: 330px;
    margin-top: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.submit-btn{
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding: 6px 27px;
    border: none;
    background-color: #5988FF;
    color: white;
    border-radius: 30px;
    margin-left: 10px;
}
.value{
    font-family: "Abhaya Libre", serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
}
.side-box{
    width: 325px;
    flex-shrink: 0;
}
.side-box1{
    width: 37%;
    flex-shrink: 0;
}
@media only screen and (max-width: 1025px) {
    .widget {
        width: Fill (165.6px);
    }
    .sidebar{
        width: 250px;
    }
    .notification-number {
        font-weight: 400;
        font-size: 14px;
        margin-right: 4px;
        font-family: "Abhaya Libre", serif;
    }
    
    .alert-text {
        font-size: 14px;
        font-weight: 700;
        font-family: "Abhaya Libre", serif;
    }
    .alarm-top{
        width: 24px;
    }
    
}
